
<footer class="bg-gray-800 p-4 flex justify-between items-center">
  <div class="flex items-center">
    <a href="#" class="mr-4">
      <img src="path/to/facebook-icon.png" alt="Facebook" class="w-6 h-6" />
    </a>
    <a href="#" class="mr-4">
      <img src="path/to/twitter-icon.png" alt="Twitter" class="w-6 h-6" />
    </a>
    <a href="#">
      <img src="path/to/instagram-icon.png" alt="Instagram" class="w-6 h-6" />
    </a>
  </div>
  <ul class="flex space-x-4 mx-auto">
    <li><a routerLink="/" class="text-white hover:text-gray-300">Home</a></li>
    <li><a routerLink="/about" class="text-white hover:text-gray-300">About Us</a></li>
    <li><a routerLink="/create-plan" class="text-white hover:text-gray-300">Create Your Plan</a></li>
  </ul>
  <div class="flex items-center">
  </div>
</footer>

