<app-navbar></app-navbar><br><br>
    <div class="pt-4 bg-gray-800 rounded mx-auto ml-20 mr-20">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
          <h1 class=" text-6xl font-bold tracking-loose w-full text-white">Great coffee made simple</h1>
          <p class="my-4 text-2xl leading-tight text-white">
            Start your mornings with the world's best coffee. Try our expertly curated artisan coffees from our best roasters delivered directly to your door, at your schedule.
          </p>
          <button class="mx-auto lg:mx-0 hover:underline bg-blue-300 text-gray-800 font-bold rounded my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            Creat your plan
          </button>
        </div>       
      </div><br>
      <div class="bg-white mt-50"><br><br><br><br><br><br><br><br><br>
        <h1 class=" flex centre ml-60 content-centre animate-pulse align-content: center; text-8xl font-bold tracking-loose w-full text-black">our collection</h1>
      </div>
      <div class="flex space-x-4">
  <div class="bg-white p-4">
    <img src="path/to/image1.jpg" alt="Product 1">
    <h2 class="font-bold text-3xl mb-10">Gran Espresso</h2>
    <p>Light and flavorful blend with cocoa and black pepper for an intense experience</p>
  </div>

  <div class="bg-white p-4">
    <img src="path/to/image2.jpg" alt="Product 2">
    <h2 class="font-bold text-3xl mb-10">Gran Espresso</h2>
    <p>Light and flavorful blend with cocoa and black pepper for an intense experience</p>
  </div>

  <div class="bg-white p-4">
    <img src="path/to/image3.jpg" alt="Product 3">
    <h2 class="font-bold text-3xl mb-10">Gran Espresso</h2>
    <p>Light and flavorful blend with cocoa and black pepper for an intense experience</p>
  </div>
  
  <div class="bg-white p-4">
    <img src="path/to/image3.jpg" alt="Product 3">
    <h2 class="font-bold text-3xl mb-10">Gran Espresso</h2>
    <p>Light and flavorful blend with cocoa and black pepper for an intense experience</p>
  </div>
</div>

    </div><br><br><br>
<app-footer></app-footer> <br>   