<app-navbar></app-navbar>
    <div class="pt-4 bg-gray-800 rounded mx-auto ml-20 mr-20">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
          <h1 class="uppercase text-6xl font-bold tracking-loose w-full text-white">Great coffee made simple</h1>
          <p class="my-4 text-2xl leading-tight text-white">
            Start your mornings with the world's best coffee. Try our expertly curated artisan coffees from our best roasters delivered directly to your door, at your schedule.
          </p>
          <button class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            Creat your plan
          </button>
        </div>       
      </div>
    </div>