<app-navbar></app-navbar><br>

    <div class="pt-4 bg-[url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpv9nuBOdHIsOn-UBI1piNwNUc79YnWcz-cA&usqp=CAU)] rounded mx-auto ml-20 mr-20">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
          <h1 class="uppercase text-6xl font-bold tracking-loose w-full text-white">Create a plan</h1>
          <p class="my-4 text-2xl leading-tight text-white">
            Build a subscription plan that best fits your need. We offer an assortment of the best artisan coffees from around the globe delivered fresh to your door
          </p>
        </div>       
      </div>
    </div><br><br>
<app-footer></app-footer>    
